.Navbar {
  width: 100%;
  height: 4rem;
  background-color: rgb(83, 174, 248);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}

.Navbar-title {
  width: 25%;
  text-align: center;
  font-size: 2rem;
  color: black;
  font-weight: bold;
  background-color: aliceblue;
  padding: 0.3rem 1rem;
  border-radius: 1rem;
}
